:root{
  --card-bg-color: #F0F6F6;
  --button-text-color:#F0F6F6;
  --button: #0CA4A5;
  --file-type: #415D43;
  --text-color: #0F0A0A;
}
/*Start of Styling for the search bar*/
.SearchBar{
  margin:0 auto;
  margin-top:25px;
  width:fit-content;
}

.SearchBar input{
  font-size:20px;
  border:none;
  outline:none;
  padding:5px;
  box-shadow:0px 0px 2px var(--button);
  transition:.5s ease box-shadow;
}

.SearchBar input:focus{
  font-size:20px;
  border:none;
  outline:none;
  padding:5px;
  box-shadow:0px 0px 10px var(--button);
}

.SearchBar button{
  margin:0;
  padding:6px;
  width:fit-content;
  background:var(--button);
  color:var(--button-text-color);
  border:none;
  font-size:20px;
  transition:.5s ease all;
}

.SearchBar button:hover{
  box-shadow:2px 0px 10px 1px var(--button);
}
/*End of Styling for the search bar*/
.GistContainer{
  display:flex;
  flex-direction: column;
  width:50%;
  margin: 0 auto;
  margin-top:25px;
  margin-bottom:25px;
  box-shadow:0px 0px 25px var(--card-bg-color);
}

.GistContainer h4{
  margin:0 auto;
  padding:0px;
  width:fit-content;
}
/*Start of Styling for the page counter buttons and counter display*/
.PageCounter{
  display:flex;
  flex-direction:row;
}

.PageCounter button{
  margin:0;
  background:var(--button);
  color:var(--button-text-color);
  border:none;
  border-radius:50%;
  width:50px;
  height:50px;
  font-size:25px;
}

.PageCounter p{
  margin:0;
  padding:5px;
  font-size:25px;
}
/*End of Styling for the page counter buttons*/
/*Start of Styling for the gists, forks and show fork button*/
.Gist{
  padding:0px 5px 5px 0px; 
}
.GistContainer .Gist:nth-child(even)
{
  background:white;
}
.GistContainer .Gist:nth-child(odd)
{
  background:var(--card-bg-color);
}
.Gist h4{
  margin-bottom:15px;
  margin-top:10px;
}
.Gist button{
  margin:0;
  margin-left:15px;
  margin-top:10px;
  padding:5px;
  width:fit-content;
  background:var(--button);
  color:var(--button-text-color);
  border:none;
  padding:5px;
  border-radius:15px;
}
.Gist p{
  margin-left:5px;
}
/*End of Styling for the gists, forks and show fork button*/

/*Start of Styling for the file names, extension type and forks */
.FileContainer{
  display:flex;
  flex-direction: column;
  margin-top:5px;
}

.FileContainer div{
  display:flex;
  flex-direction: row;
  margin:0;
}

.FileContainer div p{
  margin:0;
  margin-left:15px;
  padding:5px;
  padding-left:0px;
}

.FileContainer div p:nth-child(2){
  margin-left:5px;
  background:var(--file-type);
  color:var(--button-text-color);
  padding:5px;
  border-radius:15px;
}
.PageCounter{
  margin:0 auto;
}
/*End of Styling for the file names, extension type and forks */

/*Start of Styling for the view code button and code container*/
.FileContainer p{
  margin:0;
  margin-left:15px;
  padding:5px;
}

.FileContainer button{
  margin:0;
  margin-left:15px;
  margin-top:25px;
  margin-bottom:15px;
  padding:5px;
  width:fit-content;
  background:var(--button);
  color:var(--button-text-color);
  border:none;
  padding:5px;
  border-radius:15px;
}

.FileContainer pre
{
  background:rgb(255, 255, 255);
  overflow: auto;
  margin:0;
}

/*End of Styling for the view code button and code container*/